* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff5f7;
    color: #555555;
}



header {
    background-color: #ff86a2;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #ffffff;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #353434;
}



.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffe1e8;
}

.hero h1 {
    color: #c26f84;
    font-size: 38px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
    line-height: 1.5;
}

button {
    background-color: #f8a0d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}



.features {
    padding: 50px 8%;
    text-align: center;
}

.features h2 {
    color: #a16071;
    margin-bottom: 30px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #f3c3ce;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.feature h3 {
    color: #d87589;
    margin-bottom: 10px;
}

.feature p {
    line-height: 1.5;
}



.about {
    background-color: #ffe8ed;
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    color: #8b4a5a;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 10px;
}



footer {
    background-color: #ff86a2;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

footer h3 {
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.social a {
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 768px) {

    .feature-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: 32px;
    }
}



@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }

    .social {
        flex-direction: column;
        gap: 10px;
    }
}
